.about-section{
  position: relative;
  // height: 100vh;
  display: flex;
  padding-bottom: 132px;
}

.about-section__container{
  padding: 7.5% 0%;
}

.about-section__triangles{
  position: absolute;
  height: 84px;
  bottom: 0;
  color: #fff;
}