
.skills-row__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 26px;
}

.skills-row__list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -3%;
  align-items: center;

  @include tablets{
    justify-content: center;
  }
}

.skills-row__item{
  font-size: 18px;
  margin-left: 2%;
}