.user-data{
  display: flex;
  width: 100%;
}

.user-data__name{
  font-size: 72px;
  font-weight: 800;
  line-height: 0.83;
  width: 58%;
}

.user-data__desc{
  width: 42%;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  opacity: 0.5;
  text-align: right;
  padding-right: 5.5%;
}